scipy
streamlit
matplotlib
Cython
numpy==1.18.1
pandas
seaborn
plotly
lmfit
statsmodels.api
imageio
tabulate
xlwings
sklearn
gsheetsdb
youtube_transcript_api
yfinance
patsy
statsmodels

